@import "style.css";


/* -----hero section---- */
.hero_section{
    height: 100vh;
}
.hero_section .container{
    text-align: center;
}

.hero_section .gdc-email{
    border-bottom: 1px solid var(--black-color);
}

.hero_section .gdc-contact{
    margin: 5% 0;
}

.hero_section .gdc-msg{
    border: 3px solid var(--gray-color);
    background-color: white;
}
/* -------Logo section-------- */
.logo-info .container{
    padding: 7% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-info .gdc-logo-2023{
    width: 90%;
    margin: 24px 0;
    padding: 5%;
    border: 3px solid var(--gray-color);
}

.logo-info hr{
    color: var(--gray-color);
}


