@media all and (min-width: 768px){
    #toggle-mobile-menu{
        display: none;
    }
    .desktop-menu{
        display: block;
    }
    /* ---top menu--- */
    .desktop-menu .top-menu{
        background-color: var(--black-color);
        
    }
    .desktop-menu .top{
        display: flex;
        justify-content: end;
        padding: 5px 0;
    }
    .desktop-menu .top .page-link{
        color: white;
        padding-left: 24px;
        font-size: 18px;
    }
    /* ---bottom menu--- */
    .desktop-menu .bottom-menu{
        background-color: white;
    }
    .desktop-menu .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
    }
    .desktop-menu .bottom .main-logo{
        width: 50%;
    }
    .desktop-menu .bottom .main-links{
        display: flex;
    }
    .desktop-menu .bottom .page-link{
        padding-right: 24px;
        color: var(--black-color);
    }
    .desktop-menu .bottom .page-link:hover{
        color: var(--orange-color);
    }
    .desktop-menu .bottom .register-btn{
        color: var(--orange-color);
        border: 5px solid var(--orange-color);
        padding: 10%;
        transition: color,background-color 1s;
    }
    .desktop-menu .bottom .register-btn:hover{
        color: white;
        background-color: var(--orange-color);
    }
}

@media all and (min-width: 1340px){

}