* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
  }
:root {
    --common-padding: 0 7%;
    --black-color: #272A31;
    --orange-color: #EC5242;
    --gray-color: #f6f6f6;
  }
.container{
    margin: var(--common-padding) 0;
}

/*----------hero section----------- */
.hero_section{
    background-image: url("../img/mobile_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.hero_section .gdc-greeting{
    color: var(--orange-color);
    font-size: 30px;
    font-weight: 400;
}

.hero_section .gdc{
    color: var(--orange-color);
    font-size: 60px;
    font-weight: 900;
    background-clip: text;
    background-image: url("../img/headerbg.jpeg");
    background-image: center left;
    color: transparent;
}

.hero_section .gdc-msg{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    border: 3px solid white;
    background-color: var(--gray-color);
    padding: 4%;
    margin: 2% 0;
    color: var(--black-color);
}

.hero_section .gdc-date{
    font-size: 25px;
    font-weight: 700;
    margin: 3% 0;
    color: black;
}

.hero_section .gdc-location{
    font-size: 20px;
    font-weight: 300;
    color: var(--black-color);
}

/* -------Main Program---------- */
.main_program{
    color: white;
    background-color: var(--black-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../img/diamond.png");
}
.main_program .main_program_title{
    text-align: center;
}

.main_program .container{
    display: grid;
    grid-template-columns: auto;
    row-gap: 5%;
}
.main_program .program_card{
    display: flex;
    background-color: rgba(55, 58, 67, 0.5);
    padding: 2%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.main_program .program_card:hover{
    border: 1px solid white;
}
.main_program .program_card img{
    width: 68px;
    height: 58px;
}
.main_program .program_title{
    color: var(--orange-color);
    margin: 0 4%;
}

.main_program .register_btn{
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: var(--orange-color);
    padding: 8% 0;
    margin: 0 7%;
}